body{
    background-color: rgb(243, 208, 12);
}
.principal{
    background-image: url(./img/fondo-pago.jpg);
    
    background-repeat: no-repeat;
    background-position: 0px top;
    height: 1000px;
   
}

.franquicia{
    background-image: url(./img/tarjetas.jpg);
    background-repeat: no-repeat;
    height: 50px;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color:dimgrey;
    
}

.pagar{
    text-align: center;
    
}

.pagar button{
    width: 400px;
    background-color: rgb(29, 29, 172);
    font-size: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 350px;
    border: 1px solid rgb(29, 29, 172) ;
}


.div-validar{
    
    text-align: center;
    
    padding: 5%;
    width: 300px;
    background-color: #EEE;
    position: relative;
    display: inline-block;


}

button, #btnValidator{
    margin: 6% 9%;
    width: 80px;
    padding: 2% 4%;
    border-radius: 5px;
    border-color: rgb(238, 49, 2);
    background-color: rgb(238, 49, 2);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.text{
    height: 30px;
    border-radius: 5px;
    width: 250px;
    margin-top: 15px;
}

.text-1{
    width: 120px;
    height: 30px;
    border-radius: 5px;
    margin-top: 15px;
}


#modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
    
}

#modal{
    width: 400px;
    text-align: center;
    background-color: #EEE;
    border: none;
    padding: 2%;

}
